@import "../../variables.modules.scss";

.player {
  background-color: $foreground-color;
  border-radius: 0 0 $border-radius $border-radius;
  padding: 1rem 2rem;
  padding-top: calc(1rem + 2px);
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: $md) {
    padding: 1rem 1.25rem;
  }

  .player-spinner {
    position: absolute;
    left: 2rem;
    background-color: transparent;
    aspect-ratio: 1;
    width: 90px;
    height: 90px;
    z-index: 1;
  }
}

.now-playing-info-container {
  max-width: 24rem;
  height: 100%;

  @media (max-width: $sm) {
    max-width: 20rem;
  }
}

.slider {
  position: absolute;
  top: 0rem;
  right: 0;
  left: 0;
  border-radius: 0;

  background-color: $accent-color;
  width: 0%;
  height: 3px;
}

.blur {
  filter: blur(2px);
}

.controls {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  padding: 1rem;

  .play-pause-icon {
    width: 56px;
    height: 56px;
  }

  * {
    cursor: pointer;
    transform: all 250ms ease-in-out;

    &:hover {
      scale: 1.01;
    }

    &:active {
      scale: 0.99;
    }
  }

  button:disabled {
    cursor: unset;
  }
}

.icon-favourite-container {
  padding-inline: 1.5rem;
}
