@import "/src/app/variables.modules.scss";

.subtitle {
  margin-bottom: $spacing-03;
}

.main-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-04;
  margin-bottom: $spacing-08;

  @media (max-width: $sm) {
    display: grid;
    grid-template-columns: repeat(3, 31%);

    .show-all {
      min-width: unset;
    }
  }
}

.show-all {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-03;

  @media (max-width: $sm) {
    min-height: 160px;
  }
}

.empty-state {
  min-height: 14rem;
  border: 1px dashed $text-light;
  width: 50%;
  border-radius: $border-radius;
  display: grid;
  place-items: center;
  color: $text-light;
  padding: $spacing-05;
  text-align: center;

  @media (max-width: $md) {
    width: 100%;
  }
}
