@import "../../variables.modules.scss";

.header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-10;
  position: sticky;
  top: 0;
  z-index: 99;

  &::after {
    content: "";
    position: absolute;
    inset: -$spacing-07;
    height: 108px;
    z-index: -1;
    background-color: #22222298;
    overflow: hidden;
    pointer-events: none;
  }

  @media (max-width: $md) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $spacing-05;

    &::after {
      height: 160px;
      right: -$spacing-05;
      left: -$spacing-05;
    }
  }

  @supports (
    (-webkit-backdrop-filter: none) or
      (backdrop-filter: none)
  ) {
    &::after {
      -webkit-backdrop-filter: blur(1em);
      backdrop-filter: blur(1em);
    }
  }
}

.heading {
  font-size: 33px;
  font-weight: 700;
  padding-right: $spacing-05;

  @media (max-width: $md) {
    font-size: 28px;
    font-weight: 700;
  }
}

.search-input-container {
  min-width: 30rem;
  position: relative;
  z-index: 99;

  .search-input {
    border-radius: 40px;
    padding-inline: $spacing-06;
    background-color: $light-color;
    min-width: 30rem;
    height: 2.75rem;
    z-index: 99;

    :focus-visible {
      outline: 1px solid $accent-color;
    }

    @media (max-width: $md) {
      width: 100%;
      margin-block: $spacing-01 $spacing-02;
      min-width: unset;
    }
  }

  @media (max-width: $md) {
    width: 100%;
    margin-block: $spacing-03 $spacing-05;
    min-width: unset;
  }
}

.clear-icon {
  position: absolute;
  right: $spacing-02;
  top: $spacing-02;
  padding: $spacing-03;
  padding-right: $spacing-05;
  border-radius: 0 100% 100% 0;

  img {
    width: 18px;
    height: 18px;
  }
}
