@import "/src/app/variables.modules.scss";

.sidebar-item {
  display: flex;
  gap: $spacing-04;
  padding: $spacing-05;
  cursor: pointer;
  padding-left: 20%;
  align-items: center;
  transition: all 250ms ease-in-out;

  &:hover {
    background-color: $hover-color;
  }

  &:focus-visible {
    outline: 1px solid $accent-color;
    border-radius: 0.3rem;
  }

  @media (max-width: $lg) {
    justify-content: center;
    align-items: center;
    padding-left: $spacing-05;
    width: 100%;
  }

  @media (max-width: $md) {
    .name {
      display: none;
    }

    img {
      height: 24px;
      width: 24px;
    }
  }
}

.isActive {
  color: $accent-color;
  fill: $accent-color;
}
