@import "../../app/variables.modules.scss";

.card {
  border-radius: $card-radius;
  background-color: $card-color;
  transition: all 150ms ease-in-out;
  border: 1px solid transparent;
  padding: $spacing-03;
  display: flex;
  flex-direction: column;
  height: auto;

  &-title {
    text-align: left;
    margin-block: $spacing-03;
    max-width: 140px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &:hover {
    filter: brightness(110%);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  &:focus-visible {
    outline: 1px solid $accent-color;
  }

  &:active {
    filter: brightness(98%);
  }

  .home-image-container {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;

    img {
      width: auto;
      height: auto;
      max-width: 128px;
      max-height: 128px;
      scale: 2;
      pointer-events: none;
    }
  }

  @media (max-width: $sm) {
    padding: 0;

    .home-image-container {
      border-radius: 6px 6px 0 0;
    }

    .card-title {
      padding-inline: $spacing-02;
    }
  }
}
