@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/src/app/variables.modules.scss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font {
  &-sm {
    &-rg {
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-md {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &-body {
    &-rg {
      font-size: 16px;
      font-weight: 400;
    }

    &-md {
      font-size: 16px;
      font-weight: 500;
    }

    &-sm-rg {
      font-size: 13px;
      font-weight: 400;
    }

    &-sm-md {
      font-size: 13px;
      font-weight: 500;
    }

    &-lg-rg {
      font-size: 19px;
      font-weight: 400;
    }

    &-lg-md {
      font-size: 19px;
      font-weight: 500;
    }
  }

  &-h1 {
    font-size: 33px;
    font-weight: 700;
  }

  &-h2 {
    font-size: 28px;
    font-weight: 700;
  }

  &-h3 {
    font-size: 23px;
    font-weight: 700;
  }

  &-display1 {
    font-size: 57px;
    font-weight: 700;
  }

  &-display2 {
    font-size: 48px;
    font-weight: 700;
  }

  &-display3 {
    font-size: 40px;
    font-weight: 700;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &::after {
    display: none;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.full-height-loader {
  height: calc(100vh - 2rem);
  height: calc(100dvh - 2rem);
  border-radius: $border-radius;

  @media (max-width: $lg) {
    height: calc(100vh - 2rem - 5rem);
    height: calc(100dvh - 2rem - 5rem);
  }

  @media (max-width: $md) {
    height: calc(100vh - $nav-height-small);
    height: calc(100dvh - $nav-height-small);
  }
}
