@import "./variables.modules.scss";

.main {
  display: flex;
  gap: $gap-1;
  padding: $gap-1;

  @media (max-width: $lg) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr $nav-height;
    height: 100vh;
    height: 100dvh;
  }

  @media (max-width: $md) {
    grid-template-rows: 1fr $nav-height-small;
    gap: 0;
    padding: 0;
  }
}

.main-section {
  background-color: $element-bg;
  width: 100%;
  border-radius: $border-radius $border-radius 0 0;
  padding: $spacing-07;
  max-height: calc(100vh - (2 * $gap-1) - $player-height);
  overflow: hidden auto;

  @media (max-width: $lg) {
    grid-row: 1/2;
    max-height: calc(
      100vh - (2 * $gap-1) - $player-height - $nav-height -
        1rem
    );
  }

  @media (max-width: $md) {
    max-height: calc(
      100vh - $player-height-small - $nav-height-small
    );
    padding: $spacing-05;
    border-radius: 0;
  }

  @media (max-width: $sm) {
    padding: $spacing-06;
    grid-row: 1/2;
    max-height: calc(
      100vh - $player-height-small - $nav-height-small
    );
    padding: $spacing-05;
  }

  .card-container {
    display: grid;
    gap: $spacing-05;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $md) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: $sm) {
      gap: $spacing-04;
    }
  }
}

.right-content {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr $player-height;
  grid-template-columns: 100%;
  position: relative;

  @media (max-width: $md) {
    grid-template-rows: 1fr $player-height-small;
  }
}

.children {
  grid-row: 1/2;

  > * {
    height: 100%;
  }
}

.player {
  grid-row: 2/3;
}
