$accent-color: rgb(255, 133, 21);
$light-color: #2b2b2b;
$foreground-color: #282828;
$card-color: #333333;
$results-card-color: #151515;
$border-radius: 0.6rem;
$card-radius: 0.375rem;
$element-bg: #222;
$lg: 1200px;
$md: 768px;
$sm: 420px;
$gap-1: 1rem;

$player-height: 120px;
$nav-height: 64px;

$hover-color: rgba(46, 40, 40, 0.04);
$result-card-hover-color: rgba(255, 255, 255, 0.1);

$text-light: #5f5f5f;

:export {
  accentColor: $accent-color;
  borderRadius: $border-radius;
  cardRadius: $card-radius;
  elementBg: $element-bg;
  lg: $lg;
  md: $md;
  sm: $sm;
  gap-1: $gap-1;
  hover-color: $hover-color;
  light-color: $light-color;
  foreground-color: $foreground-color;
  player-height: $player-height;
  nav-height: $nav-height;
  results-card-color: $results-card-color;
  text-light: $text-light;
  result-card-hover-color: $result-card-hover-color;
}
