@import "/src/app/variables.modules.scss";

.popover-items-container {
  .popover-item {
    display: flex;
    gap: $spacing-06;
    align-items: center;
    padding-block: $spacing-05;
    padding-inline: $spacing-05;
    width: 100%;
    border-radius: $border-radius;

    &:hover {
      background-color: $result-card-hover-color;
    }

    &:active {
      background-color: $card-color-darker;
    }
  }
}
