@import "/src/app/variables.modules.scss";

.play-all-container {
  position: absolute;
  bottom: calc($spacing-06 + $player-height);
  left: $spacing-07;
  right: $spacing-07;
  display: flex;

  @media (max-width: $lg) {
    justify-content: center;
  }

  @media (max-width: $md) {
    justify-content: right;
    left: $spacing-05;
    right: $spacing-06;
    bottom: calc($spacing-05 + $player-height-small);
  }

  .play-all {
    border-radius: 40px;
    background-color: $accent-color;
    color: black;
    font-weight: bold;
    max-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-03;
    padding: $spacing-03 $spacing-05 $spacing-03 $spacing-04;
    fill: black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.555);
    transition: all 250ms ease-in-out;

    img {
      filter: brightness(0%);
    }

    &:hover {
      box-shadow: 0 0 0 black;
      filter: brightness(106%);
      scale: 1.01;
    }

    &:active {
      scale: 0.99;
    }

    @media (max-width: $md) {
      padding: $spacing-03 $spacing-04 $spacing-03
        $spacing-03;
    }
  }
}
